# Java
*.class
*.jar
*.war
*.ear
*.log
hs_err_pid*
*.iml
/out/
bin/
*.idea/
*.DS_Store

# C++
*.exe
*.o
*.obj
*.log
*.out
*.gch

# Ruby
*.gem
*.rbc
*.log
*.bundle
vendor/
.bundle/
tmp/
*.DS_Store

# OS files
.DS_Store
Thumbs.db

# Backup files
*~
*.swp
*.swo

